body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-box {
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #646cff;
  color: white;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background: #5f97d9;
}

.login-item {
  display: flex;
}
